body {
 background-color: #073b4c;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 margin-top: 2vh;
}

h2 {
 animation: 1s blink linear infinite;
 text-align: center;
}

.birthdayCard {
 position: relative;
 width: 90vw;
 height: 68vh;
 border: 1px solid black;
 cursor: pointer;
 transform-style: preserve-3d;
 transform: perspective(2500px);
 transition: 1s;
 transition-delay: 1s;

}

.cardFront {
 position: relative;
 background-color: #fff;
 width: 100%;
 height: 100%;
 overflow: hidden;
 transform-origin: left;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
 transition: .6s;
 transition-delay: .4s;
}

.happy {
 font-family: Tahoma, sans-serif;
 text-align: center;
 margin: 30px;
 background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
 transition: .1s;
}

.balloons {
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 animation: moving 1s ease-in-out infinite alternate;

}

@keyframes moving {
    0%{
        transform: translateY(0px);
    }
    
    100%{
        transform: translateY(20px);
    }
    
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
 position: absolute;
 width: 115px;
 height: 135px;
 border-radius: 50%;
}


.balloonOne {
 background-color: rgb(239, 71, 111, 0.7);
 left: -10px;
 top: 50px;
}

.balloonTwo {
 background-color: rgb(6, 214, 160, 0.7);
 left: 70px;
 top: 20px;
}

.balloonThree {
 background-color: rgb(255, 209, 102, 0.7);
 left: 140px;
 top: 50px;
}

.balloonFour {
 background-color: rgb(17, 138, 178, 0.7);
 left: 220px;
 top: 20px;
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
 content: "";
 position: absolute;
 width: 1px;
 height: 155px;
 background-color: #ffd166;
 top: 95px;
 left: 63px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
 content: "";
 position: absolute;
 border-right: 7px solid transparent;
 border-left: 7px solid transparent;
 top: 90px;
 left: 57px;
}

.balloonOne:after {
 border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
 border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
 border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
 border-bottom: 10px solid #118ab2;
}

.cardInside {
 position: absolute;
 background-color: #fff;
 width: 100%;
 height: 100%;
 z-index: -1;
 left: 0;
 top: 0;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.sister{
    color:#073b4c;
    font-weight: 900;
}

p {
 font-family: cursive;
 margin: 15px 10px 10px 30px;
 color: #333;
}

.name {
 position: absolute;
 left: 150px;
 /* top: 200px; */
 color: #333;
 font-weight: 900;
 font-style: italic;
 text-decoration: underline;
}

.back {
 font-family: Tahoma, sans-serif;
 color: #333;
 text-align: center;
 margin: 30px;
 outline-color: #333;
 outline-style: dashed;
}

.birthdayCard:hover,.birthdayCard:focus {
 transform: perspective(2500px) rotate(5deg);
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront , .birthdayCard:focus .cardFront{
 transform: rotateY(-160deg);
}

.birthdayCard:hover .happy, .birthdayCard:focus .happy {
 visibility: hidden;
}

@keyframes blink {
 0% {
  color: white;
 }

 20% {
  color: yellow;
 }

 40% {
  color: greenyellow;
 }

 60% {
  color: red;
 }

 80% {
  color: hotpink;
 }

 100% {
  color: blue;
 }
}
footer{
 font-size: 10px;
 color: white;
 position: absolute;
 bottom: 0px;
}
footer a{
 color: white;
}

.video-section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.video-section > video{
    width: 90%;
    height: auto;
    border: 4px inset  dodgerblue;
    padding-bottom: 10px;
 }

 .video-section > button{
    background-color: red;
    border: 3px solid white;
    color: white;
    padding: 8px 2rem; 
    font-size: 22px;
    transition: 0.3s;
    margin: 1rem;


 }

 .video-section > button:hover{
    background-color: white;
    border:3px solid red;
    color: red;
 }

 .video-section > button:active{
    scale: 0.95;
 }

 #loading-animation {
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  #video-container {
    position: relative;
    width: 500px;
    height: 300px;
  }
  